/* Meine Styles aus /static/css/styles.css */
.bb-footer {
  background-color: rgb(43, 48, 53);
  height: 5em;
  margin-top: 2em;
  padding: 1em;
  color: #fff;
  font-size: 80%;
}

.simplyRed {
  color: red;
}

.datepicker {
  z-index: 10000 !important;
}

.notie-container {
  z-index: 10010;
  box-shadow: none;
}

.swal2-actions {
  z-index: auto !important;
}

.max-width-sm {
  max-width: 640px;
}