{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the about page</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ducimus
      possimus praesentium quaerat libero omnis rem eius quas qui iure id
      tenetur autem est eum, commodi ipsa sit labore nam!
      <p>
        Rick's sidekick Morty doesn't really have a catchphrase but likes to say
        something like <strong>{{index .StringMap "morty"}}</strong>
      </p>
      <p>CSRF-Token: {{.CSRFToken}}</p>
      {{if ne (index .StringMap "remote_ip") ""}}
      <p>Your Ip is: {{index .StringMap "remote_ip"}}</p>
      {{else}}
      <p>Please visit the homepage, so that I can learn your IP ...</p>
      {{end}}
    </div>
  </div>
</div>
{{end}}
