{{template "base" .}} {{define "content"}}
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">About</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. A inventore,
        hic nisi ullam minima, recusandae assumenda illum iure facere eos
        dolorum amet. Quas aspernatur obcaecati praesentium porro, aliquid eum
        error.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iure,
        ad sint natus adipisci est neque aliquid temporibus culpa corrupti
        eligendi, ex nisi dignissimos delectus earum hic cum sequi non!
      </p>
    </div>
  </div>
</div>
{{end}}
