{{template "base"}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the home page</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci in
      explicabo aliquid omnis consectetur vel placeat minus ratione consequatur
      tempore recusandae quos ab voluptatum, illo tenetur porro odio
      voluptatibus rem? Ex placeat, molestias consequatur quisquam velit fugiat
      eveniet quis natus sit eius officiis voluptas fugit, tempora quod soluta
      porro nulla. Porro accusantium eligendi delectus odio consectetur, maiores
      pariatur dolore recusandae.
    </div>
  </div>
</div>
{{end}}
